
@{
    ViewBag.Title = "PaginaNova";
}

<h2> Minha Pagina Nova</h2>

<br /><br />
<b>Informaçoes</b>
<br /><br />
Código: @ViewBag.Codigo
<br /><br />
Nome: @ViewBag.Nome
<br /><br />
Endereço: @ViewData["Endereco"]
<br /><br />
Estado: @ViewData["Estado"]

